.venv/
fibo-source/
__pycache__/
*.pyc
out/
*.egg-info/
commons-source/
.env
eval/result.json
eval/kyc-result.json
eval/securities-result.json
eval/loan-origination-gpt4o-result.json
eval/kyc-gpt4o-result.json
eval/securities-gpt4o-result.json
